*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;

  --primary: #97306c;
  --secondary: #dfcee8;

  --border-color: #e0e0e0;
  --card-bg: #f9f9fb;

  --hover-accent: #613876;

  --container-padding: 50px;
  --container-padding-mobile: 25px;
}

.light {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;

  --primary: #775774;
  --secondary: #dfcee8;

  --border-color: #e5e5e5;
  --card-bg: #fafafa;

  --hover-accent: #613876;
  --accent-color-blue: #3b00fb;
  --accent-color-violet: #9000ff;
  --accent-color-yellow: #ffe100;

  --accent-color-blue-rgb: 59 155 255;
  --accent-color-violet-rgb: 144 87 255;
  --accent-color-yellow-rgb: 250 206 103;

  --shadow: rgba(0, 0, 0, 0.12);
  --shadow-second: rgba(0, 0, 0, 0.08);
}

.dark {
  --bg-color: #121212;
  --text-color: #f1f1f1;

  --primary: #face67;
  --secondary: #2a2233;

  --border-color: #2a2a2a;
  --card-bg: #1e1e1e;

  --hover-accent: #ffd369;
  --accent-color-blue: #3b82f6;
  --accent-color-violet: #7c3aed;
  --accent-color-yellow: #face67;

  --accent-color-blue-rgb: 40 130 230;
  --accent-color-violet-rgb: 124 58 237;
  --accent-color-yellow-rgb: 211 150 65;

  --shadow: rgba(206, 206, 206, 0.12);
  --shadow-second: rgba(207, 207, 207, 0.08);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.5s ease;
}

a {
  color: var(--hover-accent);
  position: relative;
  text-decoration: none;
}

ul {
  margin: 0;
}

h1 {
  font-size: 28px;
  margin: 0;
}

h2 {
  font-size: 22px;
  margin: 0 0 0.5em 0;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  margin: 0 0 0.5em 0;
  text-transform: capitalize;
}

h4 {
  margin: 0 0 0.5em 0;
}

p {
  margin: 0;
}

.button {
  border-radius: 30px;
  transition: 0.3s;
  border: 1px solid var(--hover-accent);
}

.header {
  display: flex;
  justify-content: end;
  padding: 16px 30px;
  align-items: center;
  width: 100%;
  background-color: transparent;
  gap: 20px;
  z-index: 15;
}

.header ul {
  display: flex;
  gap: 16px;
  list-style: none;
  align-items: center;
}

.download-button {
  color: var(--text-color);
  padding: 12px 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
}

.theme-switcher {
  width: 50px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.theme-switcher-icon {
  width: 35px;
  transition:
    filter 0.3s ease-in,
    transform 0.3s ease;
}

.icon {
  width: 20px;
  height: 20px;
  align-self: center;
}

.dark .icon {
  filter: invert(1);
}

.section {
  padding: 20px var(--container-padding);
  position: relative;
}

.section::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 90%;
  height: 2px;
  background: var(--primary);
  border-radius: 999px;
  transform: translateX(-50%);
}

.section:last-child::after {
  content: none;
}

#profile {
  text-align: center;
}

#about {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.about-content {
  display: flex;
  gap: 36px;
}

#about p {
  padding-bottom: 5px;
}

.profile-picture {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  object-fit: cover;
}

.position {
  margin: 0;
  padding: 0 50px;
}

#education ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-list {
  display: flex;
  gap: 10px;
  padding: 0;
  list-style-type: none;
  max-height: 80px;
  flex-wrap: wrap;
}

.contact-list > li {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid var(--primary);
  padding: 8px 16px;
}

#work-experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-carousel {
  position: relative;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-card {
  position: absolute;
  width: 35%;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px var(--shadow);

  transition:
    transform 0.7s ease,
    opacity 0.7s ease;

  cursor: pointer;
}

.project-card img {
  width: 100%;
  display: block;
}

.card-content {
  padding: 20px;
}
.project-card.active {
  transform: translateX(0) scale(1);

  opacity: 1;
  z-index: 3;
}
.project-card.prev {
  transform: translateX(-320px) scale(0.8);

  opacity: 0.6;
  z-index: 2;
}
.project-card.next {
  transform: translateX(320px) scale(0.8);

  opacity: 0.6;
  z-index: 2;
}
.project-card.hidden {
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.prev .card-content,
.next .card-content {
  padding: 16px;
}

.prev .card-content p,
.prev .card-content ul,
.next .card-content p,
.next .card-content ul {
  display: none;
}

.card-content ul {
  list-style: none;
  padding: 8px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.card-content li {
  border-radius: 8px;
  padding: 4px 12px;
}

.card-content li.violet {
  background-color: rgb(var(--accent-color-violet-rgb) / 0.7);
}
.card-content li.blue {
  background-color: rgb(var(--accent-color-blue-rgb) / 0.7);
}
.card-content li.yellow {
  background-color: rgb(var(--accent-color-yellow-rgb) / 0.7);
}

.footer {
  flex: 0 0 auto;
  width: 100%;
  margin-top: auto;
  background-color: var(--secondary);
  padding: 20px 30px;
  color: var(--text-color);
  border-radius: 10px 10px 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-copyright {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  flex-wrap: wrap;
}

.hero-section {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: -70px;
}

.hero-content {
  position: relative;
  z-index: 10;
  padding: 150px 0 50px 0;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-size: clamp(32px, 6vw, 64px);
}

.hero-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
}

.hero-cta {
  padding: 10px 50px;
  display: flex;
  gap: 16px;
}

.hero-button {
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 30px;
  border: 1px solid var(--hover-accent);
  background-color: var(--hover-accent);
  transition: all 0.3s;
  color: var(--bg-color);
}

.hero-background {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 0;
  inset: 0;
}

.blob {
  position: relative;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.4;
}

.blob-1 {
  width: 450px;
  height: 450px;
  background: var(--accent-color-blue);
  top: 70px;
  left: -15%;
}

.blob-2 {
  width: 350px;
  height: 350px;
  background: var(--accent-color-violet);
  right: 0px;
  top: 0px;
}

.blob-3 {
  width: 300px;
  height: 300px;
  background: var(--accent-color-yellow);
  top: 150px;
  right: -20%;
}

.hero-list {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  padding: 12px 0;
  background: var(--bg-color);

  border-top: 1px solid var(--hover-accent);
  border-bottom: 1px solid var(--hover-accent);
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.hero-list-track {
  display: flex;
  width: fit-content;
  animation: marquee 25s linear infinite;
}

.hero-list-group {
  display: flex;
  gap: 48px;
  flex-shrink: 0;
  padding-right: 48px;
}

.hero-list-group span {
  display: flex;
  align-items: center;
  gap: 8px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.hero-list:hover .hero-list-track {
  animation-play-state: paused;
}

#experience,
#education {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.timeline-card {
  flex: 1;
  position: relative;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid var(--border-color);
  backdrop-filter: blur(10px);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.timeline-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px var(--shadow);
}

.timeline-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 12px;
}

.timeline-header h3 {
  margin: 0;
}

.company {
  color: var(--primary);
  font-weight: 600;
}

.period {
  padding: 6px 12px;
  border-radius: 999px;

  background: rgb(var(--accent-color-blue-rgb) / 0.2);

  font-size: 14px;
  font-weight: 600;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.stack span {
  padding: 6px 12px;
  border-radius: 999px;

  background: rgb(var(--accent-color-violet-rgb) / 0.4);

  font-size: 14px;
}

@media (pointer: fine) {
  a:hover:after {
    width: 100%;
  }

  a::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--hover-accent);
    transition: 0.3s;
    right: 0;
  }

  .theme-switcher:hover .theme-switcher-icon {
    filter: drop-shadow(0 0 10px var(--hover-accent));
    transform: scale(1.1);
  }

  .download-button:hover,
  .hero-button:hover {
    cursor: pointer;
    border-color: var(--hover-accent);
    background-color: var(--bg-color);
    filter: drop-shadow(0 0 5px var(--hover-accent));
    color: var(--text-color);
  }

  .hero-button:hover::after {
    content: none;
  }
}

@media (max-width: 1050px) {
  .projects-carousel {
    height: 520px;
    padding: 50px 0;
  }

  .project-card {
    width: 90%;
  }

  .project-card.prev,
  .project-card.next {
    opacity: 0;
    pointer-events: none;
  }
  .about-content {
    gap: 16px;
    flex-direction: column;
  }
  .education-content {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 8px 16px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .header ul {
    gap: 12px;
    padding: 0;
  }

  .download-button {
    padding: 8px 12px;
  }

  .hero-title {
    flex-direction: column;
    padding: 0 25px;
    align-items: center;
    text-align: center;
  }

  .position {
    margin: 0;
    padding: 0 25px;
    text-align: center;
  }

  .hero-cta {
    padding: 5px 25px;
    gap: 16px;
    justify-content: center;
  }

  .hero-button {
    flex: 1;
    padding: 8px 12px;
    text-align: center;
  }

  #projects {
    gap: 0;
  }

  .timeline-header {
    gap: 8px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    align-content: stretch;
  }

  .timeline-header h3 {
    margin: 0;
    font-size: 16px;
  }

  .company {
    color: var(--primary);
    font-weight: 400;
  }

  .timeline-card {
    padding: 16px;
  }

  .projects-carousel {
    height: 550px;
    padding: 25px 0;
  }

  .section {
    padding: 10px var(--container-padding-mobile);
  }

  .contact-list {
    max-height: none;
  }

  .footer-container {
    flex-direction: column;
    gap: 8px;
  }

  .period {
    font-size: 12px;
    font-weight: 400;
    width: fit-content;
  }
}
